In [1]:
'''
Created on Mar 21, 2018

@author: BVR
'''



# Tuple can be used as keys in mappings-lists can't be.
# Tuple are returned by some built-in functions and methods.
# The tuple syntax is simple-if you separate some values with commas, you automatically have a tuple:

x = 1, 2, 3
print (x)

(1, 2, 3)

In [2]:
# Tuples may also be enclosed in parentheses:

x = (1, 2, 3)
print (x)

# The empty tuple is written as two parentheses containing nothing:

x = ()
print (x)



x =  42,
print (x)

(1, 2, 3)
()
(42,)

In [3]:
print (['abc'])
print (type(['abc']))   # a list
print (('xyz'))
print (type(('xyz')))   # a string, not a tuple
print (('xyz',))



print (3*(40+2))

print (3*(40+2,))

['abc']
<class 'list'>
xyz
<class 'str'>
('xyz',)
126
(42, 42, 42)

In [4]:

hexStringChars = ('A', 'B','C', 'D', 'E', 'F')
hexStringNums = ('1', '2', '3', '4', '5', '6','7', '8', '9','0')
hexStrings = ["1FC", "1FG", "222", "Ten"]

for hexString in hexStrings:
    for x in hexString:
        if ((not x in hexStringChars) and (not x in hexStringNums)):
            print (hexString+ " is not a hex string.")
            break

tupleList = list(hexStringChars)
listTuple = tuple(hexStrings)

1FG is not a hex string.
Ten is not a hex string.

In [5]:

t = (['xyz', 123], 23, -103.4)
print (str(t))
print (len(t))

#print (cmp(t, (['xyz', 123], 23, -103.4, 'free', 'easy')))
print (list(t))

(['xyz', 123], 23, -103.4)
3
[['xyz', 123], 23, -103.4]

In [6]:

v = ('a', 'b', 'e')
(x, y, z) = v
print (x)
print (y)
print (z)

a
b
e

In [7]:

aTuple = (123, 'abc', 4.56, ['inner', 'tuple'], 7-9j)

anotherTuple = (None, 'something to see here')

print (aTuple)

print (anotherTuple)

emptiestPossibleTuple = (None,)

print (emptiestPossibleTuple)

print (tuple('bar'))

(123, 'abc', 4.56, ['inner', 'tuple'], (7-9j))
(None, 'something to see here')
(None,)
('b', 'a', 'r')

In [8]:

Tuple = (123, 'abc', 4.56, ['inner', 'tuple'], 7-9j)

aTuple = aTuple[0], aTuple[1], aTuple[-1]

print (aTuple)

tup1 = (12, 34.56)

tup2 = ('abc', 'xyz')

tup3 = tup1 + tup2

print (tup3)

(123, 'abc', (7-9j))
(12, 34.56, 'abc', 'xyz')

In [9]:

t = (['xyz', 123], 23, -103.4)
print (t)
print (t * 2)
t = t + ('free', 'easy')
print (t)

(['xyz', 123], 23, -103.4)
(['xyz', 123], 23, -103.4, ['xyz', 123], 23, -103.4)
(['xyz', 123], 23, -103.4, 'free', 'easy')

In [10]:

s = 'first'
s = s + ' second'
print (s)
t = ('third', 'fourth')
print (t)
t = t + ('fifth', 'sixth')
print (t)

first second
('third', 'fourth')
('third', 'fourth', 'fifth', 'sixth')

In [11]:

t = (['xyz', 123], 23, -103.4)
print (t)
print (t[0][1])
t[0][1] = ['abc', 'def']
print (t)

(['xyz', 123], 23, -103.4)
123
(['xyz', ['abc', 'def']], 23, -103.4)

In [12]:

hour = 1
minute = 2
second = 3

currentTime = hour, minute, second   # create tuple

print ("The value of currentTime is:", currentTime)

print ("The number of seconds since midnight is", \
   ( currentTime[ 0 ] * 3600 + currentTime[ 1 ] * 60 + currentTime[ 2 ] ))

The value of currentTime is: (1, 2, 3)
The number of seconds since midnight is 3723

In [13]:

# create sequences
aString = "abc"
aList = [ 1, 2, 3 ]
aTuple = "a", "A", 1



# unpack sequences to variables
print( "Unpacking string...")
first, second, third = aString
print ("String values:", first, second, third)

print ("\nUnpacking list...")
first, second, third = aList
print ("List values:", first, second, third)

print ("\nUnpacking tuple...")
first, second, third = aTuple
print ("Tuple values:", first, second, third)

Unpacking string...
String values: a b c

Unpacking list...
List values: 1 2 3

Unpacking tuple...
Tuple values: a A 1

In [14]:
# swapping two values
x = 3
y = 4

print ("\nBefore swapping: x = %d, y = %d" % ( x, y ))
x, y = y, x     # swap variables
print ("After swapping: x = %d, y = %d" % ( x, y ))



print( (4, 2) < (3, 5))
print ((2, 4) < (3, -1))
print ((2, 4) == (3, -1))
print ((2, 4) == (2, 4))

Before swapping: x = 3, y = 4
After swapping: x = 4, y = 3
False
True
False
True

In [15]:


hexStringChars = ('A', 'B','C', 'D', 'E', 'F')
hexStringNums = ('1', '2', '3', '4', '5', '6','7', '8', '9', '0')

hexStrings = ["1FC", "1FG", "222", "Ten"]

for hexString in hexStrings:
    for x in hexString:
        if ((not x in hexStringChars) and (not x in hexStringNums)):
            print (hexString + " is not a hex string.")
            break

1FG is not a hex string.
Ten is not a hex string.

In [16]:

tupleList = list(hexStringChars)
print (tupleList)



print (tuple([1, 2, 3]))
print (tuple('abc'))
print (tuple((1, 2, 3)))

['A', 'B', 'C', 'D', 'E', 'F']
(1, 2, 3)
('a', 'b', 'c')
(1, 2, 3)

In [17]:

listTuple = tuple([1,2,3])
print (listTuple)



aList = ['tao', 93, 99, 'time']
aTuple = tuple(aList)
print (aList, aTuple)
aList == aTuple
anotherList = list(aTuple)
aList == anotherList
print (aList is anotherList)

(1, 2, 3)
['tao', 93, 99, 'time'] ('tao', 93, 99, 'time')
False

In [18]:

aTuple = (123, 'abc', 4.56, ['inner', 'tuple'], 7-9j)

print (aTuple[1:4])

print (aTuple[:3])
print (aTuple[3][1])

('abc', 4.56, ['inner', 'tuple'])
(123, 'abc', 4.56)
tuple

In [19]:

t = ("a", "b", "c", "z", "example")
print (t) 
print (t[0])                                           
print (t[-1])                                         
print (t[1:3])

('a', 'b', 'c', 'z', 'example')
a
example
('b', 'c')

In [20]:

albums = ('A', 'B', 'C', 'D')
years = (1976, 1987, 1990, 2003)
for album in sorted(albums):
     print (album,)
for album in reversed(albums):
     print (album,)
for i, album in enumerate(albums):
     print (i, album)

for album, yr in zip(albums, years):
     print (yr, album)

A
B
C
D
D
C
B
A
0 A
1 B
2 C
3 D
1976 A
1987 B
1990 C
2003 D

In [21]:
table1 = [ [ 1, 2, 3 ], [ 4, 5, 6 ] ]
table2 = ( ( 1, 2 ), ( 3, ), ( 4, 5, 6 ) )

print ("Values in table1 by row are")

for row in table1:
   for item in row:
      print (item,)
   print

print ("\nValues in table2 by row are")

for row in table2:
   for item in row:
      print (item,)
   print

Values in table1 by row are
1
2
3
4
5
6

Values in table2 by row are
1
2
3
4
5
6

In [23]:
 
t = (['xyz', 123], 23, -103.4)
print (23 in t)
print (123 in t)
print (t[0][1])
print (t[1:])

True
False
123
(23, -103.4)