In [1]:
list1 = ['Python', 'Java', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  Python
list2[1:5]:  [2, 3, 4, 5]

In [2]:
list = ['python', 'Java', 1997, 2000]
print ("Value available at index 2 : ", list[2])

list[2] = 2001
print ("New value available at index 2 : ", list[2])

Value available at index 2 :  1997
New value available at index 2 :  2001

In [8]:


list = ['python', 'Java', 1997, 2000]

print (list)
del list[2]
print ("After deleting value at index 2 : ", list)

['python', 'Java', 1997, 2000]
After deleting value at index 2 :  ['python', 'Java', 2000]

In [9]:
list1 = ['python', 'Java', 'maths']
print (len(list1))

3

In [10]:
list1, list2 = ['C++','Java', 'Python'], [456, 700, 200]
print ("Max value element : ", max(list1))
print ("Max value element : ", max(list2))

Max value element :  Python
Max value element :  700

In [7]:
list1, list2 = ['C++','Java', 'Python'], [456, 700, 200]

print ("min value element : ", min(list1))
print ("min value element : ", min(list2))

min value element :  C++
min value element :  200

In [11]:

list1 = ['C++', 'Java', 'Python']
list1.append('C#')
print ("updated list : ", list1)

updated list :  ['C++', 'Java', 'Python', 'C#']

In [12]:
aList = [123, 'xyz', 'zara', 'abc', 123];

print ("Count for 123 : ", aList.count(123))
print ("Count for zara : ", aList.count('zara'))

Count for 123 :  2
Count for zara :  1

In [13]:
list1 = ['python', 'Java', 'maths', 'C#']
print ('Index of Java', list1.index('Java'))
print ('Index of C#', list1.index("C#"))

Index of Java 1
Index of C# 3

In [14]:
list1 = ['python', 'Java', 'maths']
list1.insert(1, 'Stats')
print ('Final list : ', list1)

Final list :  ['python', 'Stats', 'Java', 'maths']

In [15]:
list1 = ['python', 'Stats', 'Java', 'maths']
list1.pop()
print ("list now : ", list1)
list1.pop(1)
print ("list now : ", list1)

list now :  ['python', 'Stats', 'Java']
list now :  ['python', 'Java']

In [16]:
list1 = ['python', 'Stats', 'Java', 'maths']
list1.remove('Stats')
print ("list now : ", list1)
list1.remove('maths')
print ("list now : ", list1)

list now :  ['python', 'Java', 'maths']
list now :  ['python', 'Java']

In [17]:
list1 = ['python', 'Stats', 'Java', 'maths']
list1.reverse()
print ("list now : ", list1)

list now :  ['maths', 'Java', 'Stats', 'python']

In [18]:
list1 = ['Python', 'Stats', 'Java', 'maths']
list1.sort()
print ("list now : ", list1)

list now :  ['Java', 'Python', 'Stats', 'maths']

In [1]:
'''
Created on Mar 21, 2018

@author: BVR
'''



numList = [2000, 2003, 2005, 2006]
stringList = ["Advanced", "Python", "Course"]
mixedList = [1, 2, "three", 4]
subList = ["Python", "Course", ["Copyright", 2006]]
listList = [numList, stringList, mixedList, subList]

In [2]:

for x in listList:
    for y in x:
        if isinstance(y, int):
            print (y + 1)
        if isinstance(y, str):
            print ("String:" + y)

2001
2004
2006
2007
String:Advanced
String:Python
String:Course
2
3
String:three
5
String:Python
String:Course

In [3]:

edward = ['Joe', 42] 
print (edward)



edward = ['Edward Gumby', 42]
john = ['John Smith', 50]
database = [edward, john]
print (database)

['Joe', 42]
[['Edward Gumby', 42], ['John Smith', 50]]

In [4]:

mixup_list = [4.0, [1, 'x'], 'milk', -1.9+6j]
print (mixup_list[1][1])
mixup_list[1][1] = -64.875
print (mixup_list)

x
[4.0, [1, -64.875], 'milk', (-1.9+6j)]

In [5]:

list1 = ["One", "Two", "Three"]
list2 = ["Five", "Six"]

print (list1)

['One', 'Two', 'Three']

In [6]:
#Append item
list1.append("Four")
print (list1)



lst = [1, 2, 3]
lst.append(4)
print (lst)



li = ["a", "b", "c", "z", "example"]      
print(li) 
li.append("new")                          
print (li) 
li.insert(2, "new")                            
print (li) 
li.extend(["two", "elements"])                
print (li)



fibs = [0, 1] 
for i in range(8):
    fibs.append(fibs[-2] + fibs[-1]) 

print (fibs)



word = "Python"
list = []
for ch in word:
    list.append(ch)
print (list)




x = [1, 1, 1]
x[1] = 2
print (x)

['One', 'Two', 'Three', 'Four']
[1, 2, 3, 4]
['a', 'b', 'c', 'z', 'example']
['a', 'b', 'c', 'z', 'example', 'new']
['a', 'b', 'new', 'c', 'z', 'example', 'new']
['a', 'b', 'new', 'c', 'z', 'example', 'new', 'two', 'elements']
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
['P', 'y', 't', 'h', 'o', 'n']
[1, 2, 1]

In [7]:


numbers = [1, 5]
numbers[1:1] = [2, 3, 4]
print (numbers)



numbers = [1, 2, 3, 4, 5]
numbers[1:4] = []
print (numbers)


months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]

[1, 2, 3, 4, 5]
[1, 5]

In [8]:
# A list with one ending for each number from 1 to 31
endings = ['st', 'nd', 'rd'] + 17 * ['th'] \
        + ['st', 'nd', 'rd'] +  7 * ['th'] \
        + ['st']

month_number = 8
day_number = 1

month_name = months[month_number-1]
ordinal = endings[day_number-1]

print (month_name) 
print (ordinal)

August
st

In [9]:


def cmp(x, y):
    """
    Replacement for built-in function cmp that was removed in Python 3

    Compare the two objects x and y and return an integer according to
    the outcome. The return value is negative if x < y, zero if x == y
    and strictly positive if x > y.
    """

    return (x > y) - (x < y)


list1, list2 = [123, 'xyz'], [456, 'abc']
print (cmp(list1, list2))
print (cmp(list2, list1))
list3 = list2 + [789]
print (list3)
print (cmp(list2, list3))

-1
1
[456, 'abc', 789]
-1

In [10]:

print ([2, [1, 4]] < [2, [1, 5]])



list1 = ['abc', 123]
list2 = ['xyz', 789]
list3 = ['abc', 123]
print (list1 < list2)
print (list2 < list3)
print ( list2 > list3 and list1 == list3)



num_list = [43, -1.23, -2, 6.19e5]

print (num_list * 2)
print (num_list * 3)



print ([1, 2, 3] + [4, 5, 6])
print ('Hello, ' + 'world!')



list1 = ["One", "Two", "Three"]
list2 = ["Five", "Six"]


list1 += list2
print (list1)

True
True
False
True
[43, -1.23, -2, 619000.0, 43, -1.23, -2, 619000.0]
[43, -1.23, -2, 619000.0, 43, -1.23, -2, 619000.0, 43, -1.23, -2, 619000.0]
[1, 2, 3, 4, 5, 6]
Hello, world!
['One', 'Two', 'Three', 'Five', 'Six']

In [11]:

li = ['a', 'b', 'mpilgrim'] 
li = li + ['example', 'new']              
print (li) 
li += ['two']                                  
print (li )
li = [1, 2] * 3                               
print (li)

['a', 'b', 'mpilgrim', 'example', 'new']
['a', 'b', 'mpilgrim', 'example', 'new', 'two']
[1, 2, 1, 2, 1, 2]

In [12]:


numList = [2000, 2003, 2005, 2006]
stringList = ["Essential", "Python", "Code"]
mixedList = [1, 2, "three", 4]
subList = ["A", "B", ["C", 2006]]
listList = [numList, stringList, mixedList, subList]

for x in listList:
    for y in x:
        if isinstance(y, int):
            print (y + 1)
        if isinstance(y, str):
            print ("String:" + y)

2001
2004
2006
2007
String:Essential
String:Python
String:Code
2
3
String:three
5
String:A
String:B

In [13]:

responses = [ 1, 2, 6, 4, 8, 5, 9, 7, 8, 10,
              5, 6, 7, 5, 6, 4, 8, 6, 8, 10 ]

print ("Rating     Frequency")

for i in range( 1, 11 ):
   print ("%6d %13d" % ( i, responses.count( i ) ))

Rating     Frequency
     1             1
     2             1
     3             0
     4             2
     5             3
     6             4
     7             2
     8             4
     9             1
    10             2

In [14]:

x = [1, 2, 3, 4, 5]
print (x)
del x[1]                 # x is now [1, 3, 4, 5]
print (x)
del x[::2]               # x is now [3, 5]
print (x)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]
[3, 5]

In [15]:

names = ['A', 'B', 'C', 'D', 'E']
del names[2]
print (names)



nameList = ['A', 'B', 'C', 'D','E', 'F', 'G']

for i, eachLee in enumerate(nameList):
     print ("%d %s Lee" % (i+1, eachLee))

['A', 'B', 'D', 'E']
1 A Lee
2 B Lee
3 C Lee
4 D Lee
5 E Lee
6 F Lee
7 G Lee

In [16]:

li = ['a', 'b', 'c'] 
li.extend(['d', 'e', 'f'])                
print (li )
print (len(li) )                                       
print (li[-1])

['a', 'b', 'c', 'd', 'e', 'f']
6
f

In [17]:

a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print( a)


list1 = ["One", "Two", "Three"]
list2 = ["Five", "Six"]

list1.extend(list2)
print (list1)

[1, 2, 3, 4, 5, 6]
['One', 'Two', 'Three', 'Five', 'Six']

In [18]:

li = ['a', 'b', 'new', 'c', 'z', 'example', 'new', 'two', 'elements'] 
print (li.index("example"))                       
print (li.index("new") )                               
print (li.index("c"))

5
2
3

In [19]:
# All elements in a sequence are numbered-from zero and upwards. 

# A string is just a sequence of characters. 
# The index 0 refers to the first element, in this case the letter H. 

greeting = 'Hello'
print (greeting[0])


li = ["a", "b", "c", "z", "example"]      
print (li )
print (li[-1] )                                   
print (li[-3])

H
['a', 'b', 'c', 'z', 'example']
example
c

In [20]:
numList = [1,2,3]

for x in numList:
    print (x+1)

stringList = ['1','2','3']

print (stringList[0] + ' ' + stringList[1] + ' ' + stringList[2])
print (stringList[-2])

2
3
4
1 2 3
2

In [22]:


stringList = ["Advanced", "Python", "Course"]

print (stringList[0] + ' ' + stringList[1] + ' ' + stringList[2])



print( stringList[-2])

Advanced Python Course
Python

In [23]:
#The last element is at position 1. 

greeting = 'Hello'
print (greeting[-1])



fourth = input('Year: ')[3]
print (fourth)




knights = ['We', 'are', 'the', 'knights', 'who', 'say', 'ni']
print (knights.index('who'))



numbers = [1, 2, 3, 5, 6, 7]
numbers.insert(3, 'four')
print (numbers)


list1 = ["One", "Two", "Three"]
list2 = ["Five", "Six"]

list1.insert(2, "Two 1/2")
print (list1)

o
Year: 1212
2
4
[1, 2, 3, 'four', 5, 6, 7]
['One', 'Two', 'Two 1/2', 'Three']

In [24]:
#parallel iteration 

names = ['a', 'b', 'c', 'd'] 
ages = [12, 45, 32, 102] 

for i in range(len(names)): 
    print (names[i], 'is', ages[i], 'years old')



numbers = [100, 34, 678]

print (len(numbers))




nameList = ['A', "B", 'C', 'D', 'E']

print (len(nameList))
print (range(len(nameList)))

a is 12 years old
b is 45 years old
c is 32 years old
d is 102 years old
3
5
range(0, 5)

In [27]:

aList = []    # create empty list

for number in range( 1, 11 ):
   aList += [ number ]

print ("The value of aList is:", aList)   

print ("\nAccessing values by iteration:")

for item in aList:
   print (item,)


print ("Subscript   Value")

for i in range( len( aList ) ):
   print ("%9d %7d" % ( i, aList[ i ] ))

print ("\nModifying a list value...")
print ("Value of aList before modification:", aList)
aList[ 0 ] = -100   
aList[ -3 ] = 19
print ("Value of aList after modification:", aList)

The value of aList is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Accessing values by iteration:
1
2
3
4
5
6
7
8
9
10
Subscript   Value
        0       1
        1       2
        2       3
        3       4
        4       5
        5       6
        6       7
        7       8
        8       9
        9      10

Modifying a list value...
Value of aList before modification: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Value of aList after modification: [-100, 2, 3, 4, 5, 6, 7, 19, 9, 10]

In [28]:

print ([x*x for x in range(10)] )

print ([x*x for x in range(10) if x % 3 == 0] )
print( [(x, y) for x in range(3) for y in range(3)])

li = [1, 9, 8, 4] 
print ([elem*2 for elem in li]  )                 
print (li)                                        
li = ([elem*2 for elem in li] )                 
print (li)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 9, 36, 81]
[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]
[2, 18, 16, 8]
[1, 9, 8, 4]
[2, 18, 16, 8]

In [29]:

params = {"server":"yourServer", "database":"master", "uid":"sa", "pwd":"secret"} 
print (params.items() )
print ([k for k, v in params.items()])            
print ([v for k, v in params.items()]  )               
print (["%s=%s" % (k, v) for k, v in params.items()])

dict_items([('server', 'yourServer'), ('database', 'master'), ('uid', 'sa'), ('pwd', 'secret')])
['server', 'database', 'uid', 'pwd']
['yourServer', 'master', 'sa', 'secret']
['server=yourServer', 'database=master', 'uid=sa', 'pwd=secret']

In [30]:

li = ["a", "mpilgrim", "foo", "b", "c", "b", "d", "d"] 
print( [elem for elem in li if len(elem) > 1])    
print ([elem for elem in li if elem != "b"]     )      
print ([elem for elem in li if li.count(elem) == 1])

['mpilgrim', 'foo']
['a', 'mpilgrim', 'foo', 'c', 'd', 'd']
['a', 'mpilgrim', 'foo', 'c']

In [31]:

print ([ i * 2 for i in [8, -2, 5] ])
print ([ i for i in range(8) if i % 2 == 0 ])



lines = [line.rstrip(  ) for line in open('script1.py') if line[0] == 'p']

res = []
for line in open('script1.py'):
    if line[0] == 'p':
        res.append(line.rstrip(  ))
print (res)

[16, -4, 10]
[0, 2, 4, 6]

FileNotFoundError: [Errno 2] No such file or directory: 'script1.py'

In [32]:

playList = []     # list of favorite plays

for i in range( 5 ):
   playName = input( "Play %d: " % ( i + 1 ) )
   playList.append( playName )
   
print ("\nSubscript     Value")

for i in range( len( playList ) ):
   print ("%9d     %-25s" % ( i + 1, playList[ i ] ))

Play 1: 1qqqq
Play 2: 122222
Play 3: 122222
Play 4: 11111
Play 5: 222

Subscript     Value
        1     1qqqq
        2     122222
        3     122222
        4     11111
        5     222

In [34]:

nameList = ['A', "B", 'C', 'D']
for eachName in nameList:
     print (eachName, "Lim")



nameList = ['A', "B", 'C', 'D', 'E']
for nameIndex in range(len(nameList)):
     print ("Liu,", nameList[nameIndex])

A Lim
B Lim
C Lim
D Lim
Liu, A
Liu, B
Liu, C
Liu, D
Liu, E

In [35]:
  
nameList = ['A', "B", 'C', 'D']
for eachName in nameList:
    print(eachName, "Lim")

nameList = ['A', "B", 'C', 'D', 'E']
for nameIndex in range(len(nameList)):
    print("Liu,", nameList[nameIndex])

num_list = [43, -1.23, -2, 6.19e5]
str_list = ['jack', 'jumped', 'over', 'candlestick']
mixup_list = [4.0, [1, 'x'], 'beef', -1.9+6j]

max(str_list)
max(num_list)
min(str_list)
min(num_list)

A Lim
B Lim
C Lim
D Lim
Liu, A
Liu, B
Liu, C
Liu, D
Liu, E

-2

In [36]:

numbers = [100, 34, 678]
print (max(numbers))
print (max(2, 3))



mixup_list = [4.0, [1, 'x'], 'beef', (-1.9+6j)]
print ('beef' in mixup_list)
print( 'x' in mixup_list)
print( 'x' in mixup_list[1])

num_list = [1,2,3]
print (-49 in num_list)
print (34 in num_list)
print ([65535, 2e+030, (76.45-1.3j)] in num_list)

678
3
True
False
True
False
False
False

In [38]:

database = [
    ['a',  '1234'],
    ['b',  '4242'],
    ['c',  '7524'],
    ['d',  '9843']
]

username = 'albert'
pin = '1234'

if [username, pin] in database: print ('Access granted')


numList = [2000, 2003, 2005, 2006]

for x in numList:
    print (x+1)
    
    
    
for eachNum in [0, 1, 2]:
    print (eachNum)
    
    
    
print ('python' * 3)
print( [42] * 10)

2001
2004
2006
2007
0
1
2
pythonpythonpython
[42, 42, 42, 42, 42, 42, 42, 42, 42, 42]

In [39]:

list1 = ["One", "Two", "Three"]
list2 = ["Five", "Six"]


print (list1.pop(2))
print( list1)




x = [1, 2, 3]
x.pop()
print( x)
x.pop(0)
print (x)

Three
['One', 'Two']
[1, 2]
[2]

In [40]:

letterList = ['b', 'c', 'a', 'z', 'y', 'x']


letterList.reverse()
print (letterList)


x = [1, 2, 3]
x.reverse()
print (x)

['x', 'y', 'z', 'a', 'c', 'b']
[3, 2, 1]

In [43]:

values = []   # a list of values

print ("Enter 10 integers:")

for i in range( 10 ):
   newValue = int( input( "Enter integer %d: " % ( i + 1 ) ) )
   values += [ newValue ]

print ("\nCreating a histogram from values:")
print ("%s %10s %10s" % ( "Element", "Value", "Histogram" ))

for i in range( len( values ) ):
   print ("%7d %10d  %s" % ( i, values[ i ], "*" * values[ i ] ))

Enter 10 integers:
Enter integer 1: 11
Enter integer 2: 22
Enter integer 3: 33
Enter integer 4: 44
Enter integer 5: 55
Enter integer 6: 66
Enter integer 7: 77
Enter integer 8: 88
Enter integer 9: 99
Enter integer 10: 122

Creating a histogram from values:
Element      Value  Histogram
      0         11  ***********
      1         22  **********************
      2         33  *********************************
      3         44  ********************************************
      4         55  *******************************************************
      5         66  ******************************************************************
      6         77  *****************************************************************************
      7         88  ****************************************************************************************
      8         99  ***************************************************************************************************
      9        122  **************************************************************************************************************************

In [ ]:

   f = open('script1.py')
lines = f.readlines(  )
print (lines)

lines = [line.rstrip(  ) for line in lines]
print (lines)

In [44]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[:]


tag = '<a href="http://brvishwanath.blogspot.sg">Vishwanath Rao</a>'
print (tag[9:30])
print (tag[32:-4])

http://brvishwanath.b
gspot.sg">Vishwanath Rao

In [45]:

x = [1, 2, 3, 4]
x[1:3] = [22, 33, 44]     # x is now [1, 22, 33, 44, 4]
print (x)
x[1:4] = [8, 9]           # x is now [1, 8, 9, 4]
print (x)

[1, 22, 33, 44, 4]
[1, 8, 9, 4]

In [46]:

li = ["a", "b", "c", "z", "example"]      
print (li )
print (li[:3] )                                   
print (li[3:])                                     
print (li[:])

['a', 'b', 'c', 'z', 'example']
['a', 'b', 'c']
['z', 'example']
['a', 'b', 'c', 'z', 'example']

In [47]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (numbers[3:6])
print (numbers[0:1])


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (numbers[7:100])



numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print (numbers[-3:-1])


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[-3:]

[4, 5, 6]
[1]
[8, 9, 10]
[8, 9]

[8, 9, 10]

In [48]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[:3]




letterList = ['b', 'c', 'a', 'z', 'y', 'x']


letterList.sort(reverse=1)
print (letterList)


x = [4, 6, 2, 1, 7, 9]
x.sort()
print (x)

['z', 'y', 'x', 'c', 'b', 'a']
[1, 2, 4, 6, 7, 9]

In [49]:

x = ['a', 'ab', 'ac', 'add', 'ae']
x.sort(key=len)
print (x)



x = [4, 6, 2, 1, 7, 9]
x.sort(reverse=True)
print (x)


letterList = ['b', 'c', 'a', 'z', 'y', 'x']

print (letterList)
letterList.sort()
print (letterList)

['a', 'ab', 'ac', 'ae', 'add']
[9, 7, 6, 4, 2, 1]
['b', 'c', 'a', 'z', 'y', 'x']
['a', 'b', 'c', 'x', 'y', 'z']

In [50]:

caseList = ['d', 'B', 'F', 'A', 'E', 'c']


print (caseList)
caseList.sort()
print (caseList)
caseList.sort(key=str.lower)
print (caseList)

['d', 'B', 'F', 'A', 'E', 'c']
['A', 'B', 'E', 'F', 'c', 'd']
['A', 'B', 'c', 'd', 'E', 'F']

In [51]:

a = [6, 4, 5]
print (sum(a))
print (sum(a, 5))
a = [6., 4., 5.]
print (sum(a))


numbers = [100, 34, 678]
print (min(numbers))
print (min(9, 3, 2, 5))

15
20
15.0
34
2